.button {
    background-color: #fefefe;
    border: none;
    color: #000000;
    padding: 30px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
}