<!doctype html>
<html lang="en">
  <head>

  </head>
  <body class="text-center">
    <h1 style="color:white">Login</h1>
      <div class="form-login">
	    <form onsubmit="return login()">
		  
		  <div class="form-floating mb-3">
			<input type="email" class="form-control mt-3" id="username" placeholder="name@example.com">
			<label for="floatingInput">Email address</label>
		  </div>
		  <div class="form-floating">
			<input type="password" class="form-control" id="password" placeholder="Password">
			<label for="floatingPassword">Password</label>
		  </div>
		  
		  <button type="submit" class="btn btn-primary mt-5">Login</button>
		</form>
	  </div>
  </body>
</html>